{
  "extends": "airbnb",
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.js"
      }
    }
  },
  "rules": {
    "react/jsx-filename-extension": [0, { "extensions": [".js", ".jsx"] }]
  }
}
