@import '../../../utils/variables.less';

.user-card {
  display: flex;

  padding: 0.65em 0;

  animation-name: show-user-card;
  animation-duration: 0.5s;
}

.user-card__image {
  width: 4em;
  height: 4em;

  flex: 0 0 auto;

  border-radius: 20%;

  overflow: hidden;
}

.user-card__image--empty {
  background-color: @color-gray-200;
}

.user-card__info {
  width: 100%;

  padding-left: 2em;
}

.image {
  width: 100%;
  height: 100%;
}

.username {
  font-size: 1.5em;

  color: @font-color-primary;
}

.username {
  font-size: 1.5em;

  color: @font-color-primary;
}

.username--empty {
  width: 60%;
  height: 1em;

  background-color: @color-gray-200;
  color: @color-gray-200;

  border-radius: 0.3em;
}

@keyframes show-user-card {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
