@import '../../../utils/variables.less';

.user-card {
  display: flex;
  margin-bottom: 1.3em;
}

.user-card__image {
  width: 4em;
  height: 4em;

  border-radius: 20%;

  overflow: hidden;
}

.user-card__image--empty {
  background-color: @color-gray-200;
}

.user-card__info {
  width: 100%;

  padding-left: 2em;
}

.image {
  width: 100%;
  height: 100%;
}

.username {
  font-size: 1.5em;

  color: @font-color-primary;
}

.username {
  font-size: 1.5em;

  color: @font-color-primary;
}

.username--empty {
  width: 60%;
  height: 1em;

  background-color: @color-gray-200;
  color: @color-gray-200;

  border-radius: 0.3em;
}

