@import '../../utils/variables.less';

.search-users {
  padding: 0.5em;
}

.search-users__field {
  padding-bottom: 2em;
}

.input-field {
  width: 100%;

  font-size: 3em;

  outline: none;
  border: 0;

  color: @font-color-primary;
  background-color: transparent;
}
